.mainContext
{
    border-bottom:solid 1px #BDBDBD;
    border-left:solid 1px #BDBDBD;
    border-right:solid 1px #BDBDBD;
    width:1250px;
    height:100%;
    background-color:#FFFCEC;
    margin:0;
    padding: 0;
    position:relative;
    margin-left: auto;
    margin-right: auto;

}

.leftContext
{
    float: left;
    width: 500px;
    border-bottom: 1px solid #BDBDBD;

}

/*左侧主体内容1*/
.leftContextdiv1
{
    float: left;
    width: 500px;
    height:320px;
    border-bottom: 1px solid #BDBDBD;
}


/*右侧主体*/
 .rightContext
 {
     float: right;
     width: 720px;
     height:2250px;
     border-left: 1px solid #BDBDBD;
 }